.header{
    font-family: 'Roboto';
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 96px;
    margin-inline: 15px;
    margin-bottom: 70px;
   

}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
 
    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
   
    
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    
}
*{
    background-color: #1F2937;
}

.heading{
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
}

.paragraph{
    color: #F9FAF8;
    font-size: 18px;
    margin-bottom: 10px;
}

.sign-up-button{
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    font-weight: 800px;
    border-radius: 4px;
    padding: 5px 25px;
  
    
}

.section-one{
    font-family: 'Roboto';
    background-color: #1F2937;
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-inline: 96px;
    padding-bottom: 64px;
     
}

img {
    width: 450px;
    height: auto;
    
}
.part-one{
    margin-inline: 15px; 
 
}

.part-two{
    margin-inline: 15px; 
}

body{
    display: flex;
    flex-direction: column;
    
}

.section-two-images {
    width: 200px;
    height: 200px;
    gap: 8px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'Roboto';
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 32px;

}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding-bottom: 64px;
}

.info{
    max-width: 200px;
    background-color: white;
}

.text{
    background-color: white;
}